@(loginForm: Form[Application.Login])

@import helper._
@import myHelpers._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("GBIF-Sweden's Marseille") {
        @bandeau("Log in")

        <div class="container result-list">
            @menu(false)
            <br>
	
	@form(routes.Application.authenticate) {
	    @if(loginForm.hasGlobalErrors) { 
	        <p class="error">
	            @loginForm.globalError.message
	        </p>
	    }
	     
	    @if(flash.contains("success")) {
	        <p class="success">
	            @flash.get("success")
	        </p>
        }

	    <fieldset>
	
	        @inputText(loginForm("email"), '_label -> "Email")
   			@inputPassword(loginForm("password"), '_label -> "Password")
   			
		</fieldset>
		
	    <div class="actions">
	    	<input type="submit" value="Log in" class="btn btn-primary">
	    </div>
	}
        </div>
}